* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.app-header{
    background-color: #282c34;
    min-height: 10vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: white;
}
.song-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.song{
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}


